.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Lines {
  width: 40vh;
  height: 48vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.Line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.Tile {
  border: solid 1px white;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TouchInput {
  width: 60vh;
  height: 30vh;
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

@media (orientation: portrait) {
  .TouchInput {
    width: 90vw;
    height: 18vh;
  }
}

button {
  all: unset;
  width: 9%;
  height: 100%;
}

.BigButton {
  width: 18.5%;
}

button:hover {
  background-color: rgb(0, 168, 168);
  cursor: pointer;
}

.Untried {
  background-color: #282c34;
}

.Correct {
  background-color: #26b126;
}

.Existing {
  background-color: #a70e9a;
}

.Never {
  background-color: red;
}

.Result {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.ResultButton {
  width: unset;
}

.Hidden {
  display: none;
}

.ResultContent {
  padding: 40px;
  border-radius: 20px;
  background-color: #282c34;
}
